%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to "swimlog", root_path, class: "navbar-brand"
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
    %form.form-inline.my-2.my-lg-0
      = link_to "投稿する", new_post_path, class: "new-post btn btn-info"
  - if user_signed_in?
    .user_nav.grid-6
      
      %ul.user__info.disply_flex
        %li
          .user_css
            = current_user.nickname
        %li
          = link_to "マイページ", "/users/#{current_user.id}", class: "new-post btn btn-info"
        %li
          = link_to "ログアウト", destroy_user_session_path,method:   :delete, class: "new-post btn btn-info"
  - else
    .grid-6
      = link_to "ログイン", new_user_session_path, class: 'post'
      = link_to "登録する", new_user_registration_path, class: 'post'
